<div class="d-flex">
    <div class="vh-100 py-3 px-3 fs-6 text-light contenedor-buscador">
        <div class="d-flex">
            <div class="w-15 me-4">
                <img src="../../../assets/img/logo-blanco.png" alt="logo vuelaFacil" width="100 px">
            </div>
            <div class="d-flex fw-bold fst-italic align-items-center">
                <p>Volar nunca había sido tan fácil</p>
            </div>
        </div>
        <form [formGroup]="buscarVuelosForm" >
            <div class="d-flex justify-content-center mt-5 mb-4">
                <div class="d-inline-flex w-70 radio">
                    <input class="radio-input" type="radio" value="false" id="ida" formControlName="idaVuelta">
                    <label for="ida" class="radio-label">Ida</label>
                    <input class="radio-input" type="radio" value="true" id="idaVuelta" checked formControlName="idaVuelta">
                    <label for="idaVuelta" class="radio-label">Ida y vuelta</label>
                </div>
            </div>
            <div class="d-flex mb-4">
                <div class="w-50">
                    <label class="d-block" for="origen">Origen</label>
                    <select class="w-90 form-select" id="origen" name="origen" formControlName="origen">
                        <option  [ngValue]="null" disabled >seleccione origen</option>
                        <option *ngFor="let ciudad of ciudades" [disabled]="ciudad.IATA === buscarVuelosForm.value.destino" [ngValue]="ciudad.IATA" > {{ciudad.nombre}} </option>
                    </select>
                </div>
                <div class="w-50">
                    <label class="d-block" for="destino">Destino</label>
                    <select class="w-90 form-select" id="destino" name="destino" formControlName="destino">
                        <option  [ngValue]="null" disabled >seleccione destino</option>
                        <option *ngFor="let ciudad of ciudades"  [disabled]="ciudad.IATA === buscarVuelosForm.value.origen" [ngValue]="ciudad.IATA" > {{ciudad.nombre}} </option>
                    </select>
                </div>
            </div>
            <div class="d-flex mb-4">
                <div class="w-50">
                    <label class="d-block " for="fechaSalida">Fecha de salida</label>
                    <input type="date" id="fechaSalida" name="fechaSalida" class="w-90 form-control" formControlName="fechaSalida">
                </div>
                <div class="w-50">
                    <label class="d-block" for="fechaRegreso">Fecha de regreso</label>
                    <input type="date" id="fechaRegreso" name="fechaRegreso" class="w-90 form-control" formControlName="fechaLlegada" [disabled] = "buscarVuelosForm.value.idaVuelta">
                </div>
            </div>
            <div class="mb-2">
                <label>Cantidad de pasajeros</label>
            </div>

            <div class="d-flex mb-5">
                <div class="w-40">
                    <label for="adultos" class="d-block">Adultos: </label>
                    <input id="adultos" name="adultos" type="number" class="w-90 form-control" min="0" placeholder="0" formControlName="adultos">
                </div>
                <div class="w-40">
                    <label for="infantes" class="d-block">Niños: </label>
                    <input id="infantes" name="infantes" type="number" class="w-90 form-control" min="0" placeholder="0" formControlName="niños">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="w-40">
                    <button type="submit" class="w-100 btn btn-primary boton" [disabled]="buscarVuelosForm.invalid" (click)="buscarVuelos()">Buscar</button>
                </div>
            </div>
        </form>
    </div>


    <div class="vh-100 py-3 px-3 contenedor-derecho">
        <header class="mb-3">
            <div class="d-flex justify-content-end">
                <div class="dropdown">
                    <a href="#" class="fw-bold text-decoration-none text-dark dropdown-toggle" id="dropdownLogin" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="me-1">
                            <img class="icono" src="../../../assets/img/user.png" alt="icon-user"/>
                        </span> LogIn
                    </a>
                    <div class="dropdown-menu p-2" aria-labelledby="dropdownLogin">

                        <label class="w-100 text-center">LogIn</label>
                        <form action="index.jsp" method="">
                            <div class="w-100 px-2 mt-2 mb-2">
                                <label for="usuario" class="d-block">Usuario </label>
                                <input name="usuario" id="usuario" type="text" class="form-control">
                            </div>
                            <div class="w-100 px-2 mb-2">
                                <label for="pass" class="d-block">Contraseña </label>
                                <input name="contrasena" id="pass" type="password" class="form-control">
                            </div>
                            <div class="w-100 px-2 mt-2 mb-2">
                                <input type="submit" value="Iniciar sesión" name="botonIngreso" class="w-100 btn btn-primary boton">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </header>
        <nav class="nav navbar-light justify-content-end bg-claro">
            <a class="fw-medium nav-link active" routerLink="/">
                Inicio
            </a>
            <a class="nav-link fw-medium" routerLink="/reservas">
                Reservas
            </a>
            <a class="nav-link fw-medium" routerLink="/nosotros">
                Nosotros
            </a>
        </nav>

        <main style="height:82%;">

        </main>

        <footer class="nav navbar-light d-flex justify-content-between bg-claro">
            <div>
                <p class="m-0 py-2 px-3 fw-medium">Copyright © 2021 VuelaFacil. Todos los derechos reservados</p>
            </div>

            <div class="d-flex">
                <div class="me-2">
                    <img src="assets/img/facebook.png" alt="facebook" class="mt-2" />
                </div>
                <div class="me-2">
                    <img src="assets/img/instagram.png" alt="instagram" class="mt-2" />
                </div>
                <div class="me-3">
                    <img src="assets/img/twitter.png" alt="twitter" class="mt-2" />
                </div>
            </div>
        </footer>
    </div>
</div>