<! –– MENU ––>
<nav class="navbar navbar-expand-lg navbar-light" style="background:#1588e3">
    <div class="container-fluid">

            <img src="assets/img/logoblancolargo.png" alt="" height="55px"/>                               

        <div class="" id="navbarSupportedContent"> 
            <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="index.jsp"> Inicio</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="reservas.jsp">Reservas</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link text-white" href="nosotros.html">Nosotros</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>