<app-headerprincipal></app-headerprincipal>

<div class="container text-center">
  <div class="text-center" style="padding-top: 15px; padding-bottom: 5px"> <h3>Nosotros</h3> </div>

  <video width="850" controls>
      <source src="assets/videos/AV1.mp4" type="video/mp4">
      Your browser does not support the <code>video</code> tag.
  </video>

</div>

<div class="container-md py-3">

  <h2 class="text-center">Nuestros Aviones </h2>

  <div>
      <div class="row">
          <div class="col py-2">
              <div class="card bg-black text-white">
                  <img src="assets/img/Business Jet Mock-Up.jpg" class="card-img" alt="...">
                  <div class="card-img-overlay">
                      <h5 class="card-title">Jet Business</h5>
                      <p class="card-text">Ideal para empresarios.</p>
                      <p class="card-text"></p>
                  </div>
              </div>
          </div>

          <div class="col py-2">
              <div class="card bg-black text-black">
                  <img src="assets/img/airbus.jpg" class="card-img" alt="...">
                  <div class="card-img-overlay">
                      <h5 class="card-title">Airbus</h5>
                      <p class="card-text">Ideal para viajes Negocios y turismo.</p>
                      <p class="card-text"></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-footerprincipal></app-footerprincipal>
