<app-headerprincipal></app-headerprincipal>

<div class="container-fluid" >
  <div class="text-center" style="padding-top: 15px; padding-bottom: 15px"> <h3>Seleccionar Vuelo de IDA</h3> </div>


  <div class="container align-self-center align-items-center" >
      <div class="shadow p-3 mb-5 bg-body rounded ">
          <div class="row justify-content-center">
              <div class="col-auto  align-self-center ">
                  <img src="assets/img/aero.jpg" class="rounded-circle" alt="..." height="60px" />
              </div>
              <div class="col-9  align-self-center">
                  <div class="container align-self-center align-items-cente">
                      <div class="row row-cols-4 align-self-center">
                          <div class="col  text-center align-self-center h6">FECHA</div>
                          <div class="col  text-center align-self-center h6 ">Bucaramanga</div>
                          <div class="col-2  text-center align-self-center h6">DIRECTO</div>
                          <div class="col  text-center align-self-center h6">Cartagena</div>

                          <div class="col  text-center align-self-center h5">6 Diciembre </div>
                          <div class="col  text-center align-self-center">
                              <img src="assets/img/despe.png" alt="" height="25px"/>
                              Palonegro
                          </div>
                          <div class="col-2  text-center align-self-center">
                              <img src="assets/img/rut.png" alt="" height="25px" />
                          </div>
                          <div class="col  text-center align-self-center">
                              <img src="assets/img/ateri.png" alt=""height="25px"/>
                              Rafael Núñez
                          </div>

                          <div class="col  text-center align-self-center">(BGA - CTG) </div>
                          <div class="col  text-center align-self-center">6:00 am</div>
                          <div class="col-2  text-center align-self-center">(1:15) </div>
                          <div class="col  text-center align-self-center">7:15 am</div>

                      </div>
                  </div>
              </div>
              <div class="col-auto  align-self-center">
                  <div class="col  text-center align-self-center h3">$85.000</div>
                  <button class="btn  btn-primary align-middle" type="button"> <img src="assets/img/iconocarrito.png" alt="" height="25px"/>  Reservar Ahora! </button>

              </div>
          </div>
      </div>

      <div class="container align-self-center align-items-center" >
        <div class="shadow p-3 mb-5 bg-body rounded ">
            <div class="row justify-content-center">
                <div class="col-auto  align-self-center ">
                    <img src="assets/img/aero.jpg" class="rounded-circle" alt="..." height="60px" />
                </div>
                <div class="col-9  align-self-center">
                    <div class="container align-self-center align-items-cente">
                        <div class="row row-cols-4 align-self-center">
                            <div class="col  text-center align-self-center h6">FECHA</div>
                            <div class="col  text-center align-self-center h6 ">Bucaramanga</div>
                            <div class="col-2  text-center align-self-center h6">DIRECTO</div>
                            <div class="col  text-center align-self-center h6">Cartagena</div>

                            <div class="col  text-center align-self-center h5">6 Diciembre </div>
                            <div class="col  text-center align-self-center">
                                <img src="assets/img/despe.png" alt="" height="25px"/>
                                Palonegro
                            </div>
                            <div class="col-2  text-center align-self-center">
                                <img src="assets/img/rut.png" alt="" height="25px" />
                            </div>
                            <div class="col  text-center align-self-center">
                                <img src="assets/img/ateri.png" alt=""height="25px"/>
                                Rafael Núñez
                            </div>

                            <div class="col  text-center align-self-center">(BGA - CTG) </div>
                            <div class="col  text-center align-self-center">6:00 am</div>
                            <div class="col-2  text-center align-self-center">(1:15) </div>
                            <div class="col  text-center align-self-center">7:15 am</div>

                        </div>
                    </div>
                </div>
                <div class="col-auto  align-self-center">
                    <div class="col  text-center align-self-center h3">$85.000</div>
                    <button class="btn  btn-primary align-middle" type="button"> <img src="assets/img/iconocarrito.png" alt="" height="25px"/>  Reservar Ahora! </button>

                </div>
            </div>
        </div>



  </div>




  <div class="text-center" style="padding-top: 15px; padding-bottom: 15px"> <h3>Seleccionar Vuelo de VUELTA</h3> </div>



  <div class="container align-self-center align-items-center" >
    <div class="shadow p-3 mb-5 bg-body rounded ">
        <div class="row justify-content-center">
            <div class="col-auto  align-self-center ">
                <img src="assets/img/aero.jpg" class="rounded-circle" alt="..." height="60px" />
            </div>
            <div class="col-9  align-self-center">
                <div class="container align-self-center align-items-cente">
                    <div class="row row-cols-4 align-self-center">
                        <div class="col  text-center align-self-center h6">FECHA</div>
                        <div class="col  text-center align-self-center h6 ">Bucaramanga</div>
                        <div class="col-2  text-center align-self-center h6">DIRECTO</div>
                        <div class="col  text-center align-self-center h6">Cartagena</div>

                        <div class="col  text-center align-self-center h5">6 Diciembre </div>
                        <div class="col  text-center align-self-center">
                            <img src="assets/img/despe.png" alt="" height="25px"/>
                            Palonegro
                        </div>
                        <div class="col-2  text-center align-self-center">
                            <img src="assets/img/rut.png" alt="" height="25px" />
                        </div>
                        <div class="col  text-center align-self-center">
                            <img src="assets/img/ateri.png" alt=""height="25px"/>
                            Rafael Núñez
                        </div>

                        <div class="col  text-center align-self-center">(BGA - CTG) </div>
                        <div class="col  text-center align-self-center">6:00 am</div>
                        <div class="col-2  text-center align-self-center">(1:15) </div>
                        <div class="col  text-center align-self-center">7:15 am</div>

                    </div>
                </div>
            </div>
            <div class="col-auto  align-self-center">
                <div class="col  text-center align-self-center h3">$85.000</div>
                <button class="btn  btn-primary align-middle" type="button"> <img src="assets/img/iconocarrito.png" alt="" height="25px"/>  Reservar Ahora! </button>
            </div>
        </div>


      </div>
</div>

<div class="container align-self-center align-items-center" >
  <div class="shadow p-3 mb-5 bg-body rounded ">
      <div class="row justify-content-center">
          <div class="col-auto  align-self-center ">
              <img src="assets/img/aero.jpg" class="rounded-circle" alt="..." height="60px" />
          </div>
          <div class="col-9  align-self-center">
              <div class="container align-self-center align-items-cente">
                  <div class="row row-cols-4 align-self-center">
                      <div class="col  text-center align-self-center h6">FECHA</div>
                      <div class="col  text-center align-self-center h6 ">Bucaramanga</div>
                      <div class="col-2  text-center align-self-center h6">DIRECTO</div>
                      <div class="col  text-center align-self-center h6">Cartagena</div>

                      <div class="col  text-center align-self-center h5">6 Diciembre </div>
                      <div class="col  text-center align-self-center">
                          <img src="assets/img/despe.png" alt="" height="25px"/>
                          Palonegro
                      </div>
                      <div class="col-2  text-center align-self-center">
                          <img src="assets/img/rut.png" alt="" height="25px" />
                      </div>
                      <div class="col  text-center align-self-center">
                          <img src="assets/img/ateri.png" alt=""height="25px"/>
                          Rafael Núñez
                      </div>

                      <div class="col  text-center align-self-center">(BGA - CTG) </div>
                      <div class="col  text-center align-self-center">6:00 am</div>
                      <div class="col-2  text-center align-self-center">(1:15) </div>
                      <div class="col  text-center align-self-center">7:15 am</div>

                  </div>
              </div>
          </div>
          <div class="col-auto  align-self-center">
              <div class="col  text-center align-self-center h3">$85.000</div>
              <button class="btn  btn-primary align-middle" type="button"> <img src="assets/img/iconocarrito.png" alt="" height="25px"/>  Reservar Ahora! </button>
          </div>
      </div>


    </div>
</div>

<a class="w-100 btn btn-primary boton" href="" role="button">Reservar</a>

<app-footerprincipal></app-footerprincipal>
