.table {
  text-align: center;
  & .btn {
    padding: 4px 10px;
    margin: 2px 5px;
  }
  & .edit-btn {
    color: #198754;
    &:hover {
      color: #ddcfd0;
      background-color: #23a86a;
    }
  }
  & .delete-btn {
    color: #dc3545;
    &:hover {
      color: #ddcfd0;
      background-color: #df5562;
    }
  }
}
