<app-headerprincipal></app-headerprincipal>
<div class="container">
  <ng-container *ngIf="loading$ | async">
    <div class="overlay"></div>
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
  </ng-container>
  <main>
      <div class="py-3 text-center">
          <img class="d-block mx-auto mb-4" src="assets/img/logo largo.png" alt="" height="75px"/>
          <h3>Formulario de Reserva y pagos</h3>
          <p class="lead">Agrega la información personal para realizar la reserva y la informacion de pago para completar la compra</p>
      </div>

      <div class="row g-5">
          <div class="col-md-5 col-lg-4 order-md-last">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-primary">Vuelos seleccionados</span>
                  <span class="badge bg-primary rounded-pill">{{ vuelos[1] === '' ? 1 : 2 }}</span>
              </h4>
              <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                      <div>
                          <h5 class="my-0">Vuelo de IDA</h5>
                          <small class="text-muted">ID vuelo {{vuelos[0]._id.slice(0,6) }}</small>
                      </div>
                      <span class="text-muted">{{ getPriceFormat(getPrice(vuelos[0].ruta.distancia))}}</span>
                  </li>
                  <li *ngIf="vuelos[1] !== '' " class="list-group-item d-flex justify-content-between lh-sm">
                      <div>
                          <h5 class="my-0">Vuelo de VUELTA</h5>
                          <small class="text-muted">ID Vuelo {{vuelos[1]._id.slice(0,6) }}</small>
                      </div>
                      <span class="text-muted">{{ getPriceFormat(getPrice(vuelos[1].ruta.distancia)) }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                      <div class="pasajeros-container">
                        <div>
                            <h5 class="my-0">Cantidad de Pasajeros</h5>
                            <small class="text-muted">Adultos</small>
                            <small *ngIf="initialQuery.kids > 0" class="text-muted">Niños</small>
                        </div>
                        <div>
                            <span class="">{{ initialQuery.adultos + initialQuery.kids}}</span>
                            <span class="text-muted">{{ initialQuery.adultos}}</span>
                            <span class="text-muted" *ngIf="initialQuery.kids > 0">{{ initialQuery.kids}}</span>
                        </div>
                      </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                      <span>Total Parcial (COP)</span>
                      <strong>{{ getPriceFormat(precioTotal) }}</strong>
                  </li>
                  <li *ngIf=" codigoPromocion.value !== '' " class="list-group-item d-flex justify-content-between bg-light">
                    <div *ngIf=" esValido(codigoPromocion.value); else promocionFailure" class="promocion-container">
                        <div class="text-success">
                            <h6 class="my-0">Codigo Promoción</h6>
                            <small>{{ codigoPromocion.value }}</small>
                        </div>
                        <span class="text-success"> - {{ getPriceFormat(precioTotal * 0.3) }}</span>
                    </div>  
                    <ng-template #promocionFailure>
                        <div class="text-danger">
                            <h6 class="my-0">Codigo Promoción</h6>
                            <small>{{ codigoPromocion.value }}: Código no válido</small>
                        </div>
                        <span class="text-danger">$0</span>
                    </ng-template>
                  </li>
                  <li class="list-group-item d-flex justify-content-between">
                      <span>Total a Pagar (COP)</span>
                      <strong>{{ getPriceFormat(precioFinal) }}</strong>
                  </li>
              </ul>

              <form class="card p-2">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Codigo Promocion" [formControl]="codigoPromocion">
                      <button type="button" class="btn btn-secondary" (click)="aplicarDescuento()" [disabled]="!esValido(codigoPromocion.value)">Aplicar</button>
                  </div>
              </form>
          </div>

          <!-- Formulario de datos del cliente -->
          <div class="col-md-7 col-lg-8">
              <h4 class="mb-3">Facturación</h4>
              <form [formGroup]="clientForm" class="cliente-form"  (ngSubmit)="submitReserva()" novalidate >
                  <div class="row g-3">
                      <div class="col-sm-6">
                          <label for="nombres" class="form-label">Nombres</label>
                          <input formControlName="nombres" type="text" class="form-control" id="nombres" placeholder="" required >
                          <div class="invalid-feedback" >  
                              Se requiere un nombre válido.
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <label for="apellidos" class="form-label">Apellidos</label>
                          <input formControlName="apellidos" type="text" class="form-control" id="apellidos" placeholder=""  required>
                          <div class="invalid-feedback">
                              Se requiere un apellido válido.
                          </div>
                      </div>


                      <div class="col-sm-6">
                          <label for="cedula" class="form-label">Cedula</label>
                          <input formControlName="cedula" type="number" class="form-control" id="cedula" placeholder="" required>
                          <div class="invalid-feedback">
                              Se requiere un número de documento válido.
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <label for="celular" class="form-label">Celular</label>
                          <input formControlName="celular" type="tel" class="form-control" id="celular" placeholder=""  required>
                          <div class="invalid-feedback">
                              Se requiere un número de celular válido.
                          </div>
                      </div>

                      <div class="col-12">
                          <label for="correo" class="form-label">Correo <span class="text-muted"></span></label>
                          <input formControlName="correo" type="email" class="form-control" id="correo" placeholder="you@example.com">
                          <div class="invalid-feedback">
                             Ingrese una dirección de correo electrónico válida.
                          </div>
                      </div>

                      <div class="col-12">
                          <label for="direccion" class="form-label">Dirección</label>
                          <input formControlName="direccion" type="text" class="form-control" id="direccion" placeholder="1234 Main St" required>
                          <div class="invalid-feedback">
                              Por favor introduzca su direccion.
                          </div>
                      </div>


                      <div class="col-md-5">
                          <label for="ciudad" class="form-label">Ciudad</label>
                          <input formControlName="ciudad" class="form-control" type="text" id="ciudad" required />
                          <div class="invalid-feedback">
                              Seleccione una ciudad válida.
                          </div>
                      </div>

                      <div class="col-md-4">
                          <label for="barrio" type="text" class="form-label">Barrio</label>
                          <input type="text" class="form-control" required id="barrio">
                          <div class="invalid-feedback">
                              Proporcione un barrio válido.
                          </div>
                      </div>

                  </div>

                  <hr class="my-4">

                  <h4 class="mb-3">Informacion de Pago</h4>

                  <div class="my-3">
                      <div class="form-check">
                          <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                          <img src="assets/img/tc.png" alt="" height="30px"/>
                          <label class="form-check-label" for="credit">Tarjeta de Credito</label>
                      </div>
                      <div class="form-check align-middle">
                          <input id="debit" name="paymentMethod" type="radio" class="form-check-input align-middle" required>
                          <img src="assets/img/BotonPSE.png" alt="" height="33px"/>
                          <label class="form-check-label align-middle" for="debit">PSE</label>
                      </div>
                      <div class="form-check">
                          <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                          <img src="assets/img/efecty.png" alt="" height="25px"/>
                          <label class="form-check-label" for="paypal">Efecty / Baloto</label>
                      </div>
                  </div>

                  <hr class="my-4">

                  <button class="w-100 btn btn-primary btn-lg" type="submit">Reservar y Pagar</button>
              </form>
          </div>
      </div>
  </main>
</div>

<app-footerprincipal></app-footerprincipal>
