<div id="contentToConvert">


  <div class="contenedor">
    <img src="assets/img/pdf.png" class="card-img" alt="...">

    <div class="texto-encima">ID TICKET</div>

    <div class="texto-reserva">
      <span>ID RESERVA IDA: {{reservaIda}}</span><br>
      <span *ngIf="reservaVuelta !== '' ">ID RESERVA VUELTA: {{reservaVuelta}}</span>
    </div>

    <table class="table centrado table-bordered border-primary" style="width:45% ">
      <thead>
        <tr>
          <th scope="col">ID VUELO</th>
          <th scope="col">RUTA</th>
          <th scope="col">FECHA</th>
          <th scope="col">HORA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{vuelos[0]._id.slice(0,6)}}</th>
          <td>{{vuelos[0].ruta.salida.IATA}} - {{vuelos[0].ruta.llegada.IATA}}</td>
          <td>{{vuelos[0].fechaVuelo.slice(0,10)}}</td>
          <td>{{vuelos[0].fechaVuelo.slice(11,19)}}</td>
        </tr>
        <tr *ngIf="reservaVuelta !== '' ">
          <th scope="row">{{vuelos[1]._id.slice(0,6)}}</th>
          <td>{{vuelos[1].ruta.salida.IATA}} - {{vuelos[1].ruta.llegada.IATA}}</td>
          <td>{{vuelos[1].fechaVuelo.slice(0,10)}}</td>
          <td>{{vuelos[1].fechaVuelo.slice(11,19)}}</td>
        </tr>
      </tbody>
    </table>

    <ul class="texto-info">
      <li class="texto-info__item">Nombre: {{clienteData.nombre}}</li>
      <li class="texto-info__item">Cédula: {{clienteData.cedula}}</li>
      <li class="texto-info__item">Asientos Reservados: {{initialQuery.adultos + initialQuery.kids}} </li>
    </ul>

  </div>

</div>

<div>
  <br>
  <br>
<input class="btn btn-primary" type="button" value="DESCARGAR TIQUETE ELECTRONICO" (click)="captureScreen()"/>
</div>

