<div id="contentToConvert">


  <div class="contenedor">
    <img src="assets/img/pdf.png" class="card-img" alt="...">

    <div class="texto-encima">ID TICKET</div>

    <div class="texto-reserva">ID RESERVA: </div>

    <table class="table centrado table-bordered border-primary" style="width:45% ">
      <thead>
        <tr>
          <th scope="col">ID VUELO</th>
          <th scope="col">RUTA</th>
          <th scope="col">FECHA</th>
          <th scope="col">HORA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
      </tbody>
    </table>

    <div class="texto-info">
      NOMBRE:                  <br>
      CEDULA:                  <br>
      ASIENTOS RESERVADOS:     <br>

    </div>

  </div>

</div>

<div>
  <br>
  <br>
<input class="btn btn-primary" type="button" value="DESCARGAR TIQUETE ELECTRONICO" (click)="captureScreen()"/>
</div>

